<%= render 'layouts/head' %>
<section class="container margin-top">
  <div class="columns">
    <div class="column is-5">
    <%= image_tag "ICT_training.jpeg" %>
    </div>
    <div class="column">
      <h1 class="title">ICT training</h1>
      <div class="content">
        The IT fundamentals course sharpens our clients’ ability on concept of ICT using computer and managing files as well as using the web and communication technologies. Upon successful completion of this course the  candidates have to pass tests in the following areas:
        <ul>
          <li>Concepts of IT</li>
          <li>Using Computer</li>
          <li> Managing Files</li>
          <li>Information and Communication</li>
        </ul>

      </div>
    </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="title">SPSS training</h1>
        <div class="content">
          SPSS, which stands for statistical package for the social sciences, is an application that can aid in quantitative data handling. Before SPSS, researchers had to run statistical tests on data sets by hand. However, SPSS automates this process. SPSS has all of the most widely used statistical tests built-in to the software. Therefore, you won't have to do any mathematical equations by hand. Once you run a statistical test, all associated outputs are displayed in the data output file.
        </div>
      </div>
      <div class="column is-5">
      <%= image_tag "spss.png", class: "medium-image"  %>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5">
      <%= image_tag "communication_training.jpeg", class: "medium-image"  %>
      </div>
      <div class="column">
        <h1 class="title">Networking</h1>
        <div class="content">
          Brief history of cellular wireless telephony, network architectures, Radio technologies, available services and various interfaces will be presented.  Topics will include GSM, GPRS, EDGE, UMTS, HSPDA, HSPA, LTE, LTE-A. The specification, strength and weaknesses of each of these technologies will be highlighted, their architecture, call flows and differences indicated. Introduction to modulation schemes used in cellular communication including TDMA, FDMA, TDD, FDD, OFDM, CDMA. Learn the definition of cell in regard to cellular communication.
        </div>
      </div>
      </div>
      <div class="columns">
        <div class="column">
          <h1 class="title">E-learning</h1>
          <div class="content">
            Hypertech also trains on modern instructional methods such as e-Learning Pedagogy. This course equips teachers with modern instructional skills that would enable them teach courses offered online. This course is especially useful for college lecturers, and university lecturers as well as organizations that would wish to offer online courses.
          </div>
        </div>
        <div class="column is-5">
        <%= image_tag "e-learning.jpeg", class: "medium-image"  %>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
        <%= image_tag "fiber_optics.jpeg", class: "medium-image"  %>
        </div>
        <div class="column">
          <h1 class="title">Fiber optics</h1>
          <div class="content">
            Fundamentals of optical fiber communication system will be introduced. Topics for this training will include; Introduction & principles of fiber optics, fiber classification, cable types, fiber design and systems, installation, fiber splicing, connectors and Termination, fiber testing, Fiber standards, enclosures and panels, test equipments; restoration and maintenance; System design and component issues, application, Fiber optic safety.
          </div>
        </div>
        </div>
        <div class="columns">
          <div class="column">
            <h1 class="title">Office tools</h1>
            <div class="content">
              The office tools qualification lets you highlight your field of expertise. Now you can distinguish yourself as an IT professional with the current skills and proven job-role capabilities to work effectively with a comprehensive set of Microsoft office tools which include:
              <ul>
                <li>Word-processing</li>
                <li>Spreadsheets</li>
                <li>Databases</li>
                <li>Presentation Tools</li>
              </ul>

          </div>
          </div>
          <div class="column is-5">
          <%= image_tag "office_tools.png", class: "medium-image"  %>
          </div>
        </div>
</section>
<%= render 'layouts/footer' %>
