<%= render 'layouts/head' %>

<div class="columns">
  <div class="column">
    <h1 class="title has-text-centered">
      Our Portofolio
    </h1>
  </div>
</div>
<div class="level">
  <section class="container">
    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "tvet.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>TVET</h5>
                        <p>Bulk SMS portal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "civot.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Civotech</h5>
                        <p>Web development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "kid.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Kidivai Advocates</h5>
                        <p>Web development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "krs.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Kenya Railways Staff Retirement Benefit Scheme</h5>
                        <p>Web Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "essay.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Proficient Essays </h5>
                        <p>Web Development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "winas2.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Winnas Sacco Limited</h5>
                        <p>Website Redesign </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "buffalo_copy.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Kenya Film Commision</h5>
                        <p>Intranet Design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "moest.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Ministry of Education, Science and Technology </h5>
                        <p>Web Development & Maintenanc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "pamtec.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Pamtec Technologies Limited</h5>
                        <p>Web Design & Development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "jr.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Midas Junior Academy</h5>
                        <p>Web Design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "roofs.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Roofs Kenya Limited </h5>
                        <p>Web Development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "buffalo.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Buffalo Bay Resort </h5>
                        <p>Web Design, POS sale & Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "ann.png" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Anne Mwiti Art Gallery </h5>
                        <p>Web Development & Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "fleet.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Automotive Fleet Solutions</h5>
                        <p>Web Development & Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "intric8.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Intric8 Design and Build</h5>
                        <p>Web Design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "pepper.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Naivasha Peppercorn Holiday Resort </h5>
                        <p>Web Development & Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "pamtec.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Mwaniki Kariuki and Company Advocates</h5>
                        <p>Web Design & Hosting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "jr.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>World Harvest Mission</h5>
                        <p>Web Design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "roofs.jpg" %>
                  </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h5>Counselling Research Institute of Kenya</h5>
                        <p>Web Design</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

  </section>

</div>
<%= render 'layouts/footer' %>
