<%= render 'layouts/head' %>
<div class="columns">
  <div class="column">
    <h1 class="title has-text-centered">
      POS Hard ware & Accessories
    </h1>
  </div>
</div>
<div class="level">
  <section class="container">
    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "pos_touchscreen.jpg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>POS Touch-screen </h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "thermal_printer.jpg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>POS Thermal printer</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "barcode_scanner.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Bar-code scanners</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "cash_drawer.jpg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Cash drawers</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

</div>

<div class="columns">
  <div class="column">
    <h1 class="title has-text-centered">
      Computers and Accesories
    </h1>
  </div>
</div>
<div class="level">
  <section class="container">
    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "desktop.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Desktops </h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "laptop.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Laptops</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "storage_devices.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>storage devices</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "printer.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>printers</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

</div>


<div class="columns">
  <div class="column">
    <h1 class="title has-text-centered">
      School edition products
    </h1>
  </div>
</div>
<div class="level">
  <section class="container">
    <div class="columns features">
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "surveillance.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Surveillance equipment</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "bell_control.jpg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Automatic bell control system</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "biometcric_access_control.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Bio-metric access control system</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                  <figure class="image is-3by2">
                    <%= image_tag "student_management.jpeg" %>
                  </figure>
                </div>
                <div class="card-content box">
                    <div class="content">
                        <h4>Student management system</h4>

                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">
          Bulk SMS
        </h1>
      </div>
    </div>
    <div class="columns is centered">
      <div class="column">
        <figure>
          <%= image_tag "sms.png" %>
        </figure>
        <article class="content box">
          <p>
            Hypertech IT consultants offer a robust, reliable and effective bulk messaging platform at a cost of Ksh 1 per sms across all networks. In addition, hypertech also does intergration of bulk messaging service with ERP applications or any other system software solution for our clients.
          </p>
        </article>
      </div>
    </div>
  </section>

</div>

<%= render 'layouts/footer' %>
