<%= render 'layouts/head' %>
<section>
  <article class="content">
    <div class="box has-text-centered">
      <p>
        We develop mobile first website that are responsive on  scale appropriately on devices of diffent screen sizes.
      </p>
    </div>

  </article>
  <figure>
    <%= image_tag "responsive_web.jpeg" %>
  </figure>
  <figure>
    <%= image_tag "mobile-first-responsive-design-1.jpg" %>
  </figure>
  <div class="container">
    <h5 class="subtitle">We also offer other services that include:</h5>
    <h1 class="title has-text-centered">Domain Registration</h1>
    <div class="columns notification">
      <div class="column is-4">
        <figure>
          <%= image_tag "domain_name.jpeg" %>
        </figure>
      </div>
      <div class="column is-8">
        <article class="content">
          To have your own presence on the World Wide Web, you've got to have your own unique identity, also known as a domain name. Your domain name has various uses notably for email, websites among others.We undertake the registration of all the top level domains, i.e. .com, .net, .org, .edu, .co.ke, or.ke, .ac.ke, .info, .ne.ke upon request.
        </article>
      </div>
    </div>
    <h1 class="title has-text-centered">Email Services</h1>
    <div class="columns notification">
      <div class="column is-4">
        <figure>
          <%= image_tag "email.jpeg" %>
        </figure>
      </div>
      <div class="column is-8">
        <article class="content">

          Hypertech IT Consultants provides domain business emails, giving your email communication a distinctive official trait essential for today’s business communication. Your e-mails can also be configured in outlook and can be viewed through web based browser. In addition your e-mails are provided with auto response and auto forwarding capabilities.
        </article>
      </div>
    </div>
    <h1 class="title has-text-centered">Search Engine Optimization</h1>
    <div class="columns notification">
      <div class="column is-4">
        <figure>
          <%= image_tag "seo.jpeg" %>
        </figure>
      </div>
      <div class="column is-8">
        <article class="content">

          We do Search engine optimization or SEO in order to increase your website position in the search engines results pages of popular search engines such as Google, Yahoo and MSN. This will automatically drive traffic to your website and thus enhance your visibility globally.
          <h3 class="subtitle">How do we do Search Engine Optimization?</h3>
          <ul>
            <li>We analyze your website, understand your goals, and research your competitors and do in-depth search term research to determine how to gain the most traffic for your money.</li>
            <li>We optimize your website to achieve success. Our search term strategy identifies which pages of your site can effectively compete on specific terms. And our complete wireframe audit outlines how your site can be more search engine friendly.</li>
            <li>We build your online credibility, inbound links & page rank. Our team of SEO consultants works with you to develop an off-the-page strategy that includes link building, directory submission, online press release optimization, and article distribution.</li>
          </ul>

        </article>
      </div>
    </div>
  </div>

</section>
<%= render 'layouts/footer' %>
