<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
</script>
      <section class="hero is-dark is-bold ">
          <div class="hero-head">
              <nav class="navbar is-flex-desktop">
                  <div class="container">
                      <div class="navbar-brand">
                          <a class="navbar-item" href="../">
                              <%= image_tag "Hypertech-logo.png" %>
                          </a>
                          <span class="navbar-burger burger" data-target="navbarMenu">
                              <span></span>
                              <span></span>
                              <span></span>
                          </span>
                      </div>
                      <div id="navbarMenu" class="navbar-menu is-flex-mobile">
                          <div class="navbar-end">
                              <div class="tabs is-right">
                                  <ul>
                                    <div class="navbar-item">
                                      <%= link_to 'Home', home_path, class: "less-margin"%>
                                    </div>
                                    <div class="navbar-item">
                                      <%= link_to 'Products', products_path, class: "less-margin"%>
                                    </div>
                                    <div class="navbar-item">
                                      <%= link_to 'Portfolio', portfolio_path, class: "less-margin"%>
                                    </div>
                                    <div class="navbar-item">
                                      <%= link_to 'Blog', discussions_path, class: "less-margin"%>
                                    </div>

                                  </ul>

                              </div>
                          </div>
                      </div>
                  </div>

              </nav>
          </div>
          <div class="hero-body">
              <div class="container has-text-centered">
                  <h1 class="title">
                  HYPERTECH IT CONSULTANTS
                  </h1>
                  <h2 class="subtitle">
                  Leaders in IT solutions
                  </h2>
              </div>
          </div>
          <div class="hero-foot">

          </div>
          <% if current_user %>
          <section class="notification ">
            <nav class="level">
              <div class="level-left">
                <div class="level-item has-text-centered">
                  <div class="tag is-info is-medium">
                    <%= current_user.username%>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div class="tag is-info is-medium">
                    <%= current_user.email%>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a class="button is-success is-outlined">
                    Enquiries
                  </a>
                    <span >
                      <%= link_to 'New Post', new_discussion_path, class: "button is-success is-outlined is-outlined fa fa-paper-plane"%>
                    </span>
                    <span >
                      <%= link_to 'Edit user', edit_user_registration_path, class: "button is-warning is-inverted is-outlined fa fa-cogs"%>
                    </span>

                </div>
              </div>

            </nav>

          </section>
          <%end%>
      </section>
